myopic_results
results
Exp1
Exp2
Exp 3
Exp4
Exp5
exp6
Exp3
analysis
hyperparameter_analysis
model_behavior
# ignore all Python byte-cache folders
__pycache__/
*.py[cod]

# ignore your experiment results
agents/mytopic_exp_results/


